<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864745187568-6md3kb2hb11uc73ph7ao37libee8t1a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864745187568-6md3kb2hb11uc73ph7ao37libee8t1a6</string>
	<key>API_KEY</key>
	<string>AIzaSyCqumo7984S6ItSRjbnY1aU5e33tUuQ_rg</string>
	<key>GCM_SENDER_ID</key>
	<string>864745187568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azn.CampFire</string>
	<key>PROJECT_ID</key>
	<string>campfire-984d0</string>
	<key>STORAGE_BUCKET</key>
	<string>campfire-984d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864745187568:ios:146d92994196c8013efa35</string>
</dict>
</plist>